<link rel="stylesheet" href="/public/styles/styles.css" media="screen" title="no title" charset="utf-8">

<!--navbar-->
<nav class="navbar navbar-expand-lg " id="the-navbar">
    <a class="navbar-brand" href="#"><B>BOOKSHARE</B></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Our Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Your Books</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container" id="dev-container">
    <div class="row justify-content-center card-deck jumbotron-transparent">

        <div class="card col-md-3 shadow mb-3 p-1">
            <img src="/styles/img/evan.jpg" class="card-img-top rounded-circle" alt="Picture of Evan">
            <div class="card-body">
                <h3>Evan Davies</h3>
                <p class="card-text text-dark">Role: Front end Desgin and senior UX designer<br>

                    <br> <a href="https://github.com/evandavies11" style="text-decoration: none;"> GitHub</a>

                </p>
            </div>

        </div>

        <div class="card col-md-3 shadow mb-3 p-1">
            <img src="/styles/img/dan.jpg" class="card-img-top rounded-circle" alt="Picture of Dan">
            <div class="card-body">
                <h3>Dan Smith</h3>
                <p class="card-text text-dark">Role: Backend and tracking functionality<br>

                    <br> <a href="https://github.com/KentaroSmith" style="text-decoration: none;"> GitHub</a>

                </p>
            </div>
        </div>
        <div class="card col-md-3 shadow mb-3 p-1">
            <img src="/styles/img/maha.png" class="card-img-top rounded-circle" alt="Picture of Maha">
            <div class="card-body">
                <h3>Maha</h3>
                <p class="card-text text-dark">Role: Front-End Web Developer and Problem Solver<br>


                    <br> <a href="https://github.com/mahamalampati" style="text-decoration: none;"> GitHub</a>

                </p>
            </div>
        </div>

    </div>

</div>
</div>