<link rel="stylesheet" href="/styles/user.css" media="screen" title="no title" charset="utf-8">

<!--sign in modal-->
<div class="modal-dialgo text-center">
    <div class="col-sm-6 main-section">
        <div class="modal-content">

            <div class="col-12 user-img">
                <img src="/styles/img/icons8-book-64.png">
            </div>

            <form class="col-12">

                <p id="top-text">Welcome To </p>
                <P id="second-text"><strong>BOOKSHARE</strong></P>
                <p>Sign In With Your Google Account</p>

                <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i> <a
                        href="https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=453625763887-2k6u898jqp76rojfh9dkd3rf6l2bfidd.apps.googleusercontent.com&as=RnviKhtGZu1CjLiiaSlAsQ&destination=https%3A%2F%2Fbooksharemahadanevan.herokuapp.com&approval_state=!ChQyT29laUVHeEJXd1JXWk9ubWwtVRIfOHpuSk1Ba2hUUndTd0ktM2lWMU9TaWRuMDJDMzFoWQ%E2%88%99AJDr988AAAAAXY136UapHBmR3MGFSNS-kKb0psaP16wY&oauthgdpr=1&xsrfsig=ChkAeAh8T5MeXxPMK-ErJfRUEymFXBB4tfooEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow"
                        class="button">SIGN IN</a></button>
            </form>

            <div class="col-12 forgot">
                <a href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>