.list-group-item {
  line-height: 2.5;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: "Roboto", sans-serif;
    /* no-repeat center center fixed;*/
   /*background-size: cover;*/
   color:#25a890;
   background-image: url(../styles/img/2663184.jpg) ;
   background-position: center center;
   background-size: 100% 1900px;
   background-repeat: no-repeat;
}

/*navbar style*/
#the-navbar{
    background-color: rgb(117, 16, 199);
    color:#25a890 ;
}

.navbar-brand{
    color: #25a890;
}

.nav-link{
    color: #EAC4F5;
}

#title-nav{
    color: #25a890;
}

/*book input style*/

.container{
    background-color: rgb(117, 16, 199);
    margin-top: 80px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #848484;
    opacity: .95;
    
}

/*button style*/

#submit{
    width: 40%;
    margin: 5px 0 25px; 
}

.btn{
    background-color: #27c2a5;
    color: #fff;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #219882
}

.btn:hover, .btn:focus{
    background-color: #25a890;
    border-bottom: 4px solid #25a890;
}

/*information page style*/

#info{
    font-weight: 900;
    font-size: 20px;
    text-align: center justify;
    margin-top: 20px;
}